body {
  background-color: rgb(32, 35, 41);
}

.App {
  padding: 20px;
}

.App h1 {
  text-align: center;
  margin: 0px;
  color: rgb(228, 228, 228);
  border: none;
  font-weight: 900;
  font-size: 5.625rem;
}

@media screen and (max-width: 600px) {
  .App h1 {
    font-size: 3rem;
  }
}
  
